{% extends "page.twig" %}
{% block title %}
	<div class="mb-4">
		<a href="javascript:history.back()" class="btn btn-outline-info">
			<i class="fa fa-chevron-left mr-2"></i>
			{{ t("back") }}
		</a>
	</div>
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">{{ controller.title }}</h1>
		{% for action in controller.actions %}
			{{ action }}
		{% endfor %}
	</div>
{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<div class="card p-2">
				{{ controller.printMessages()|raw }}
				{{ controller.echoContent()|raw }}
			</div>
		</div>
	</div>
{% endblock %}
